# NLP 2 SQL

> "Discover the power of Artificial Intelligence with OpenAI's powerful API to generate text and images in projects". Udemy course.

In [33]:
import os 
import openai           
import pandas as pd

import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy import text

In [34]:
openai.api_key = os.getenv("OPENAI_API_KEY")

## SQL Connection

In [35]:
# Artificial_Label_Data7.csv
df = pd.read_csv("Artificial_Label_Data3.csv")
df.head(5)

   step        m1        m2          b1          b2
0     1 -1.732051 -1.732051   92.937132  300.937132
1     2 -1.732051 -1.732051  125.740979  269.740979
2     3 -1.732051 -1.732051   91.329436  299.329436
3     4 -1.804048 -1.804048   92.221126  314.988982
4     5 -1.804048 -1.804048  129.866337  278.378241

In [36]:
# Create an in-memory SQLite engine
#temp_db = create_engine('sqlite:///:memory:', echo=True)

# Create a MetaData object and bind it to the engine
#metadata = MetaData()
#metadata.bind = temp_db

In [37]:
# Use the DataFrame's to_sql method to write data to the database
#df.to_sql(name='Labels', con=temp_db, index=False, if_exists='replace')

> not working, don't know why! for all instances, I am jumping directly to NLP

## Promp Pre-Training

In [38]:
def create_table_def(df):
    prompt = '''### sqlite SQL table, w/ properties: 
    # 
    # Labels({})
    '''.format(','.join(str(col) for col in df.columns))
    return prompt

print(create_table_def(df))

### sqlite SQL table, w/ properties:
    #
    # Labels(step, m1, m2, b1, b2)

In [39]:
def prompt_in():
    text = input("Enter your promp:")
    return text

#prompt_in()

In [40]:
def combine_prompts(df, query: str) -> str:
    defin = create_table_def(df)
    query_init = f"### A query to answer: {query}\nSELECT"
    return defin + query_init

In [41]:
#nlp_text = prompt_in()
nlp_text = 'grab the 10 highest labels values'
combine_prompts(df, nlp_text)

'### sqlite SQL table, w/ properties: \n    # \n    # Labels(step, m1, m2, b1, b2)\n    ### A query to answer: grab the 10 highest labels values\nSELECT'

## NLP w/ GPT Prompt

In [42]:
response = openai.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "user", "content": combine_prompts(df, nlp_text)},
    ],
    temperature=0,
    max_tokens=150,
    top_p=1,
    frequency_penalty=0,
    presence_penalty=0,
    stop=["#", ';']
)

In [50]:
print(response.choices[0].message.content)

 *
FROM Labels
ORDER BY step DESC
LIMIT 10